.btn {
  position: relative;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #323232;
  box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border: none;
}

.btn:after {
  content: " ";
  width: 0%;
  height: 100%;
  background: #daa6ff;
  position: absolute;
  transition: all 0.3s ease-in-out;
  right: 0;
}

.btn:hover::after {
  right: auto;
  left: 0;
  width: 100%;
}

.btn span {
  text-align: center;
  text-decoration: none;
  width: 100%;
  padding: 18px 25px;
  color: #fff;
  font-size: 1.125em;
  font-weight: 500;
  z-index: 20;
  transition: all 0.3s ease-in-out;
}

.btn:hover span {
  color: #000000;
  animation: scaleUp 0.3s ease-in-out;
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
  }
}
.button {
  font-family: inherit;
  background: #000000;
  color: white;
  padding: 0.35em 0;
  font-size: 17px;
  border: none;
  border-radius: 0.7em;
  letter-spacing: 0.08em;
  position: relative;
  display: flex;
  align-content: center;
  align-items: center;
  overflow: hidden;
  height: 3.1em;
  padding-left: 2.8em;
  padding-right: 0.9em;
}

.button .icon {
  background: #fff;
  height: 2.3em;
  width: 2.3em;
  border-radius: 2em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0.4em;
  transition: all 0.5s;
}

.icon svg {
  transition: all 0.5s;
  width: 1.4rem;
  height: 1.4rem;
}

.button:hover .icon svg {
  transform: rotate(360deg);
}

.button:hover .icon {
  width: calc(100% - 0.85rem);
  border-radius: 0.5em;
}
