@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

body {
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 20px 40px;
}
a {
  text-decoration: none;
  color: black;
}
* {
  box-sizing: border-box;
}

a:hover {
  color: #daa6ff;
}
