.successPage {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  .headingg {
    color: green;
  }
  img {
    height: 400px;
  }
  .successHome {
    text-align: center !important;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    align-self: center;
  }
}
